<div>
    <h3>Login</h3>
</div>

<demo-resource-info [resource]="login"></demo-resource-info>

<div class="container">
    <form #loginForm="ngForm" (ngSubmit)="onFormSubmit(loginForm)" class="form-horizontal">
      <div class="form-group">
        <label for="loginname" class="col-lg-2 control-label">Login name:</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="loginname" required
        	[(ngModel)]="login.attributes.loginname" name="loginname"
        	#loginname="ngModel" style="width: 240px">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-lg-2 control-label">Password:</label>
        <div class="col-lg-10">
          <input type="password" class="form-control" id="password" required
        	[(ngModel)]="login.attributes.password" name="password"
        	#password="ngModel" style="width: 240px">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <button type="submit" class="btn btn-success">Login</button>
        </div>
      </div>
    </form>
</div>

