<table class="table table-condensed">
    <tr>
        <td>
<h3 *ngIf="genre.id > 0">Genre: {{ genre.attributes.gname }}</h3>
<h3 *ngIf="genre.id == 0">Add new genre</h3>
        </td>
        <td class="text-right"><a routerLink="/genres">Return to Genres List</a></td>
    </tr>
</table>

<demo-resource-info [resource]="genre"></demo-resource-info>

<div class="container">
    <form #genreForm="ngForm" (ngSubmit)="onFormSubmit(genreForm)" class="form-horizontal">
      <div class="form-group">
        <label for="name" class="col-lg-2 control-label">Name:</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="gname" required
        	[(ngModel)]="genre.attributes.gname" name="gname"
        	#gname="ngModel" [readonly]="!isEditMode">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10" *ngIf="isEditMode">
	      <button type="submit" class="btn btn-success">Submit</button>
	      <button type="button" class="btn btn-cancel" (click)="onCancel()">Cancel</button>
        </div>
        <div class="col-lg-offset-2 col-lg-10" *ngIf="!isEditMode">
	      <button type="button" class="btn" (click)="onEdit()">Edit</button>
        </div>
      </div>
    </form>
</div>
