<table class="table table-condensed">
    <tr>
        <td><h3>Genres</h3></td>
        <td class="text-right"><a [routerLink]="['/genres', 0]">Add new genre</a></td>
    </tr>
</table>

<demo-collection-info [collection]="genres"></demo-collection-info>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <!-- Use authors example. @deprected since version 2.0.0 -->
    <tr *ngFor="let genre of genres.data; trackBy: genres.trackBy">
        <td>{{ genre.id }}</td>
        <td>
            <a [routerLink]="['/genres', genre.id]">{{ genre.attributes.gname }}</a>
        </td>
        <td class="text-right">
            <a (click)="delete(genre)" href='#' title="Delele genre"><small>DELETE</small></a>
        </td>
    </tr>
</table>
<demo-collection-paginator [collection]="genres"></demo-collection-paginator>
