<main>
    <h1>
        Example project
        <small class="bg-primary" *ngIf="loading">{{ loading }} <img src="http://s.ytimg.com/yt/img/loader-vflff1Mjj.gif" /></small>
    </h1>

    <nav>
        <ul class="nav nav-pills pull-xs-right">
            <li class="nav-item" *ngIf="authMode > 0">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item" *ngIf="authMode > 0">
                <a class="nav-link" routerLink="/authors">Authors</a>
            </li>
            <li class="nav-item" *ngIf="authMode > 0">
                <a class="nav-link" routerLink="/books">Books</a>
            </li>
            <li class="nav-item" *ngIf="authMode > 0">
                <a class="nav-link" routerLink="/genres">Genres</a>
            </li>
            <li class="nav-item" *ngIf="authMode >= 10">
                <a class="nav-link" routerLink="/users">Users</a>
            </li>
            <li class="nav-item" *ngIf="authMode > 0">
                <a class="nav-link" routerLink="/login">Logout</a>
            </li>
        </ul>
    </nav>

    <content>
        <router-outlet></router-outlet>
    </content>
</main>
